# https://docs.readthedocs.io/en/stable/guides/specifying-dependencies.html#specifying-a-requirements-file
sphinx-gallery
sphinx_markdown_tables
sphinx-copybutton
sphinx-rtd-theme
recommonmark
enum-tools[sphinx]

data_diff
dbt-core>=1.6.14 # not directly required, pinned by Snyk to avoid a vulnerability
